# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Build outputs
/dist
/build
/out
/.next

# Testing & Coverage
/coverage

# IDE & OS
.DS_Store
.idea
*.pem

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment
.env*.local

# TypeScript
*.tsbuildinfo
